.container {
    width: 100%;
    background: green;
    padding: 50px;
    border-radius: 10%;
    width: 40%;
}


.border {
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 30px;
    width: 100%;
}




