.block {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: green;

}
.cnt {
    width: 100%;
    border: 3px solid aqua;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.button{
    display: flex;
    column-gap: 20px;
}

.button button {
    font-weight: 700;
    min-width: 80px;
    padding: 8px 0px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0px solid transparent;
    transition: .3s all;
}
.button button:hover{
    background-color: aqua;
    color: black;
}
